.sizeButton button {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

button.selected {
  color: white;
  background-color: #C92071;
}

button:hover {
  color: white;
  background-color: #C92071;
}

.RespSizeShoes {
  /* margin: 10px 0; */
  color: #474747;
  font-size: 0.9rem;
}

.RespSizeShoes span {
  font-size: 1.2rem;
  font-weight: 700;
}