.containerCS {
    display: flex;
}

.infoCircle {
        width: 30px;
        height: 30px;
        border-Radius: 50%;
        margin: 10px;
        /* display: flex;
        justify-Content: center;
        align-Items: center; */
        cursor: pointer;
}