.section-login {
    background: linear-gradient(to right, #B5B6F2, #EFEFFF);
    height: 800px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forms-content {
   padding-top: 20px;
    background-color: #f8f8f8;
    width: 580px;
    height: 500px;
    display: flex;
    padding-left: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form h1 {
    font-weight: 900;
    font-size: 35px;
}

.form a {
    color: #000000;
}
.form a:hover {
    color: #C92071;
}


.forms-content input {
    display: flex;
    width: 550px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #efeff3;
    padding: 20px;
    outline: none;
    font-size: 15px;
}

.form button {
    width: 550px;
    height: 50px;
    color: #EFEFFF;
    background-color: #C92071;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}

.login-rede-sociais {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icon-facebook {
    height: 23px;
}

.image-sapatos img {
    height: 900px;
    transform: rotate(200deg);
}


