section {
    /* max-width: 1200px;
    width: 100%; */
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.color-bg {
    padding: 5rem 0;
    background: var(--light-gray-3);
}

section > h2 {
    text-align: center;
    font-size: 24px;
    color: #474747;
}

section > .main {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 712px;
    Height: 180px;
    gap: 2rem;  
    margin: 0 auto;
}

section > .main > .f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

section > .main > .f > picture{
    background-color: #fff;
    width: 104px;
    height: 104px;
    padding: 20px;
    border-radius: 150px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
}

section>.main>.f>picture > img {
    width: 64px;
    height: 64px;
}

.f img {
    /* transition: color 2s ease; */
    transition: opacity 0.3s ease;
}

.f img:hover {
    /* color: red; */
    filter: hue-rotate(120deg);
}
