.button-rosa > button {
    /* margin-right: 20rem; */
    width: 220px;
    height: 48px;
    background-color: #C92071;
    color: #F7F7FC;
    font-weight: bold;
    padding: 13px 2.9rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.6s;
    outline: none;
}

.button-rosa > button:hover {
    background-color: #a1195b; 
}