.prodCard {
    /* margin: 0 auto; */
    max-width: 1200px;
    width: 100%;
}

.prodCard > .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.prodCard > .first > h2 {
    font-size: 24px;
    color: #474747;
}

.prodCard > .first > a {
    text-decoration: none;
    color: #C92071;
    font-size: 1rem;
    display: flex;
}

.prodCard > .first > a:hover{
    text-decoration: underline;
}

.prodCard > .first > a > img {
    height: 20px;
    width: 100;
}

/*    CARDS     */

.prodCard > .second {    
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.prodCard > .second > div {
    width: 100%;
    Height: 360px;
    border-radius: 8px;
    line-height: 1.7rem;
    
}

.prodCard > .second > div > div  {
    Width: 252px;
    Height: 260px;
    cursor: pointer;
}

.prodCard > .second > div > div > img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.prodCard > .second > div > p {
    font-size: 12px;
    color: #8F8F8F;
    font-weight: 700;
}

.prodCard > .second > div > h3 {
    color: #474747;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.prodCard > .second > div > h3:hover {
    color: #C92071;
}

.prodCard > .second > div > .prices {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 1.3rem;
}

.prodCard > .second > div > .prices > .price {
    color: #8F8F8F;
    text-decoration: line-through;
}
