.photos-container {
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.photos-container .configPhotos {
    width: 100px;
    margin: 5px;
    border-radius: 5px;
}


