* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caminhoTenis h5 {
    margin: 1rem 0;
    color: #474747;
}

.caminhoTenis {
    margin: 0 8rem;
}

.descricaoProduto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 8rem;
    gap: 1rem;
}

.dadosProduto {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imgDescProdColumn {
    display: flex;
    flex-direction: column;
}

.imgDescProdRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.imagemGrande img {
    width: 528px;
}

.miniImagens {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.miniImagens img {
    width: 100px;
}

.miniImagens .item1 {
    background-color: #E2E3FF;
}

.miniImagens .item2 {
    background-color: #FFE8BC;
}

.miniImagens .item3 {
    background-color: #FFC0BC;
}

.miniImagens .item4 {
    background-color: #DEC699;
}

.miniImagens .item5 {
    background-color: #E8DFCF;
}


/* Textos */
.referenciasProduto {
    font-size: 0.8rem;
    color: #666666;
}

.avaliacao {
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: #F6AA1C;
    border-radius: 0.2rem;
    padding: 2px 11px;
}

.precoProd {
    color: #474747;
    font-size: 2rem;
}

.tamanhoSapato {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tamanhoItem {
    color: #474747;
    font-size: 1.2rem;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 0.9rem;
    transition: 0.2s;
    cursor: pointer;
}

.tamanhoItem:hover {
    color: white;
    background-color: #C92071;
}

.semList {
    list-style-type: none;
}

.btn-comprar {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 10px 3rem;
    background-color: #F6AA1C;
    cursor: pointer;
}

.btn-slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 460px;
    top: 50%;
}

.btn-slide > .botaoNavegacao {
    display: flex;
    background-color: #fffcfd;
    align-items: center;
    border: none;
    width: 40px;
    height: 50px;
    opacity: 0.3;
    cursor: pointer; 
}








