.container-title-card {
    /* width: 200px; */
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    /* margin-left: 10rem; */
}


.container-collection {
    display: flex;
    gap: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.collection-1 {
    background-image: url('../../../public/collection-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 405px;
    height: 251px;
    border-radius: 0.5rem;
}

.collection-2 {
    background-image: url('../../../public/collection-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 405px;
    height: 251px;
    border-radius: 0.5rem;
}

.collection-3 {
    background-image: url('../../../public/collection-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 405px;
    height: 251px;
    border-radius: 0.5rem;
}

/*   Imagens */



.oferta {
    background-color: #E7FF86;
    width: 96px;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    margin: 0 auto;
    margin-left: 1.4rem;
    margin-top: 1rem;
    font-weight: 500;
}