.containerSectionCard {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.container-title-card {
    font-size: 24px;
    font-weight: 700;
    color: #474747;
    max-width: 1200px;
    margin-bottom: 2rem;
    /* margin-left: 8rem; */
}


.container-collection {
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; */
    /* margin: 2rem 0 0; */
}


.container-collectionz h3 {
    margin: 1rem 5rem 0 1.5rem;
    font-size: 2rem;
}

.container-collection h3 {
    margin: 1rem 8rem 0 1.5rem;
    font-size: 2.5rem;
}

.collection-1 {
    background-image: url('../../../public/collection1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 405px;
    height: 251px;
    border-radius: 0.5rem;
    transition: 1s;
}

.collection-1:hover {
    transform: scale(1.07);
}

.collection-2 {
    background-image: url('../../../public/collection2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 405px;
    height: 251px;
    border-radius: 0.5rem;
    transition: 1s;
}

.collection-2:hover {
    transform: scale(1.07);
}

.collection-3 {
    background-image: url('../../../public/collection3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 405px;
    height: 251px;
    border-radius: 0.5rem;
    transition: 1s;
}

.collection-3:hover {
    transform: scale(1.07);
}

/* .btn-comprar {
    display: flex;
    color: #C92071;
    font-weight: 600;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

/*   Imagens */

.oferta {
    background-color: #E7FF86;
    width: 96px;
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    margin: 0 auto;
    margin-left: 1.4rem;
    margin-top: 1rem;
    font-weight: 500;
}