.filter-option {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-option > p {
    font-weight: 400;
}

.filter-option > p > span {
    font-weight: 700;
}

.filter-option > button {
    width: 332px;
    height: 60px;
    background-color: transparent;
    text-align: start;
    text-indent: 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: solid 1px;
}

.filter-option > button > span {
    font-weight: 400;
    padding-right: 5.5rem;
}

/* Filtrar Por  */

.filter {
    width: 308px;
    height: 720px;
    padding: 30px;
    background-color: rgb(22, 22, 51);
    border-radius: 8px;
}

.filter > hr {
    margin: 1.7rem 0;
}

.filter > p {
    margin: 1rem 0;
    font-weight: 700;
}

.filter > form {
    display: flex;
    flex-direction: column;
}

.filter > form > div {
    display: flex;
    flex-direction: row;
    line-height: 1.8rem;
    align-items: center;
}

.filter>form>div > label {
    font-weight: 400;
}

.filter > form > div > input[type=checkbox] {
    accent-color: #C92071;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
} 

.filter > div > [type=radio] {
    accent-color: #C92071;
}


/* Fim do Filter */


/* Card dos Produtos */


.div-geral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 -1rem;
    cursor: pointer;
}

.cards > div {
    width: 292px;
    height: 392px;
    line-height: 1.7rem;
}

.cards > div > div > img {
    width: 280px;
    height: 300px;
    background-color: red;
    border-radius: 8px;
}

.cards > div > p {
    font-size: 12px;
    color: #474747;
}

.cards > div > h3 {
    font-size: 24px;
    color: #474747;
}

.cards > div > .prices {
    display: flex;
    gap: 1rem;
    font-size: 18px;
}

.cards > div > .prices > .price {
    color: #8F8F8F;
    text-decoration: line-through;
}